body{
background-image: url("./redFlag.jpg");
background-repeat: no-repeat;
background-size: cover;
display:grid;
place-items: center;
}
img{
   width:700px; 
  height:850px;
    position: absolute;
    margin-top: 940px;
}
h1{
text-align: center;
color: aliceblue;
text-decoration: wavy;
font-size: 60px;
 /* border: 3px solid black;
 border-radius: 5px;
 height: 100px;
 overflow: hidden; */
}
#play-button{
    text-align: left;
    position: relative;
    transform: translate(-200px, 700px);
    font-size: x-large;
}

h1{
  
   color: black;
   font-family:fantasy
    
}
p{
  transform: translate(-700px, 762px);
  font-size: 220%;
  font-style: oblique;
  color: aliceblue;
}
#toggle-button{
    transform: translate(-700px, 10px);

    font-size: 140%;
    color: black;

}
#example{
    transform: translate(0px, 20px);
    text-align: ;
}
